:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --countdown-time: 3;
  --countdown-duration: 1000ms;
}

@media (prefers-color-scheme: light) {
  .element {
    background-color: rgba(255, 255, 255, 0.87);
    color: #242424;
  }
}

@media (prefers-color-scheme: dark) {
  .element {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
}

.donkey {
  position: absolute;
  object-fit: cover;
  visibility: hidden;
}

.tail {
  position: absolute;
}

/* Countdown */
/* Animation inspired by https://codepen.io/clein/pen/bqXYXy */
.countdown {
  animation: blur var(--countdown-duration) ease infinite;
  animation-play-state: paused;
  display: none;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 4rem;
  line-height: 1;
}

@keyframes blur {
  0%,
  100% {
    filter: blur(0.5rem);
  }
  10%,
  90% {
    filter: blur(0.25rem);
  }
  50% {
    filter: blur(0rem);
  }
}
