:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --countdown-time: 3;
  --countdown-duration: 1000ms;

  --colour--light-green: hsl(143, 62%, 89%);
  --colour--light-green-hover: hsl(143, 62%, 79%);
  --colour--dark-green: hsl(186, 85%, 18%);
  --colour--dark-green-hover: hsl(186, 85%, 28%);
  --colour--white: rgba(255, 255, 255, 0.87);
  --colour--black: #242424;
}

@media (prefers-color-scheme: light) {
  .element {
    background-color: var(--colour--white);
    color: var(--colour--black);
  }

  button {
    background-color: var(--colour--light-green);
    color: var(--colour--black);
    outline-color: var(--colour--white);
  }

  button:hover,
  button:focus {
    background-color: var(--colour--light-green-hover);
  }

  dialog::backdrop {
    background: rgb(0 0 0 / 75%);
  }
}

@media (prefers-color-scheme: dark) {
  .element {
    color: var(--colour--white);
    background-color: var(--colour--black);
  }

  button {
    background-color: var(--colour--dark-green);
    color: var(--colour--white);
    outline-color: var(--colour--white);
  }

  button:hover,
  button:focus {
    background-color: var(--colour--dark-green-hover);
  }

  dialog::backdrop {
    background: rgb(255 255 255 / 75%);
  }
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
}

.donkey {
  position: absolute;
  object-fit: cover;
  visibility: hidden;
}

.tail {
  position: absolute;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -4px;
  padding-block: 1rem;
  padding-inline: 2rem;
  transition: background-color 250ms ease;
}

/* Countdown */
/* Animation inspired by https://codepen.io/clein/pen/bqXYXy */
.countdown {
  animation: blur var(--countdown-duration) ease infinite;
  animation-play-state: paused;
  display: none;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 4rem;
  line-height: 1;
}

@keyframes blur {
  0%,
  100% {
    filter: blur(0.5rem);
  }
  10%,
  90% {
    filter: blur(0.25rem);
  }
  50% {
    filter: blur(0rem);
  }
}

/* Dialog */
dialog {
  font-size: 1.5rem;
  max-width: min(500px, 75%);
  text-align: center;
}

dialog .title {
  font-size: 1.75rem;
}

dialog .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
